*{
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
    margin: 0;

}
body{
    min-height: 100vh;
    background-image: linear-gradient(to right , #f23,rgb(9, 63, 137)
    ,rgba(127, 8, 167, 0.858));
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .calc-container{   
     width: 300px;
     height: 500px;
     background: rgb(10, 10, 10);
     color: beige;
     border-radius: 15px;
     
     justify-content: center;
     
   }
   .result{ 
    width: 100%;
    height: 100px;
    background: #f23;
    text-align: right;
    font-size: 60px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
   }
   .btn-section{ 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 30px;
    padding-right: 10px;
     padding-left: 10px;
     position: relative;

    height:  300px;
    justify-content: center;
    
   }
   .btn{ 
    margin: 4px;
    font-size:30px;
    border-radius: 15px;
   }
   .btns{ 
    position: absolute;
    top:100%;
    margin: 8px;
    display: flex;
    justify-content: space-between;


   }
   #equal{  
    margin:4px ;
     width: 135px;
     height: 50px;
     background-color: rgb(186, 186, 29);
     text-align: center;
     color:beige ;
     font-size:40px;
   }
   #ac{  
    margin:4px ;
     width: 130px;
     height: 50px;
     background: rgb(211, 55, 55);
     font-size: 40px;
     color: beige;
   }
   .btn:hover{ 
    background: rgb(114, 101, 101);
    color:beige ;
   }


   
